<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Category:</strong>
  <%= @message.category %>
</p>



<%= link_to 'Edit', edit_message_path(@message), class:"btn btn-secondary btn-sm" %> |
<%= link_to 'Back', messages_path, class:"btn btn-secondary btn-sm" %>
