<p id="notice"><%= notice %></p>

<h1><u>Your Groups</u></h1>

 
  
   <table class="table text-center"> 
<thead>
  <tr>
    <td><b>Group Name</b></td> 
    <td><b>Group Description</b></td>
    <th>Show Group</th>
    <th>Edit Group</th>
    <th>Destroy Group</th>
   </tr>
</thead>
  <tbody>
    <% @memberships.each do |member| %>
      <% if member.user_id == current_user.id %>
        <tr>   
           <td><b><%= member.title %></b></td>
           <td><b> <%= (Group.find_by(title: member.title)).description %></b></td>
            <td>
              <%= link_to 'Show', Group.find_by(title: member.title) %>
            </td>
            <td>
              <% if (Group.find_by(title: member.title)).user_id == current_user.id %>
                <%= link_to 'Edit', edit_group_path(Group.find_by(title: member.title)) %> 
              <% else %>
                Edit
              <% end %>
            </td>
            <td>
              <% if (Group.find_by(title: member.title)).user_id == current_user.id %>
                <%= link_to 'Destroy', Group.find_by(title: member.title), method: :delete, data: { confirm: 'Are you sure?'} %> 
              <% else %>
                Destroy
              <% end %>
            </td>
        </tr>
      <% end %>
    <% end %> 
  </tbody>
</table>
 
 
<br><br><br>
 
<table class="table"> 
  <tbody>
    <tr>    
      <td>
        <%= button_to('Create New Group', new_group_path, :method => :get,  class:"btn btn-small btn-default") %>
      </td>
      <td>
        <%= button_to('Add Users To Groups', new_membership_path, :method => :get,  class:"btn btn-small btn-default") %> 
      </td>
      <td>
        <%= button_to('Post Group Message', new_group_message_path, :method => :get, class: "btn btn-small btn-default") %> 
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  
</table>

 