<style>
  .entry2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
  }
</style>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @group.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Members:</strong>
  <% @memberships.each do |member| %>
    <% if member.group_id == @group.id %>
      <p><%= member.email %> </p>
    <% end %>
  <% end %>
</p>
<div class="entry text-center">
    <% @allGroupMessages.each do |message| %>
      <% if message.group_id == @group.id %>
      <div class = "entry2 text-center">
        <p><%= sanitize(message.content) %></p>
        <p>Posted by: <%= (User.find_by(id: message.user_id)).email %></p>
        <% if message.user_id == current_user.id %>
        <p>
          <%= link_to 'Edit', edit_group_message_path(message) %>
          <%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
        <% end %>
      </div>
      <% end %>
    <% end %>
</div>

<%= link_to 'Back', groups_path %>