<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<h1><u>Message Board</u></h1>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#all"><b>All</b></a></li>
  <li><a data-toggle="tab" href="#urgent"><b>Urgent</b></a></li>
  <li><a data-toggle="tab" href="#news"><b>News</b></a></li>
  <li><a data-toggle="tab" href="#job"><b>Job</b></a></li>
  <li><a data-toggle="tab" href="#event"><b>Event</b></a></li>
</ul>
<div class="tab-content">
  <div id="all" class="tab-pane fade in active">
    <% @messages.reverse.each do |message| %>
      <div class="entry text-left">
        <h3><u><%= link_to message.title,message_path(message) %></u></h3>
        <p><%= sanitize(message.content) %></p>
        <p>Posted by: <%= (User.find_by(id: message.user_id)).email %></p>
        
        <%= link_to "Like", like_message_path(message), method: :put  %>
          
              <span class="badge"><%= message.get_upvotes.size %></span>

          <%= link_to "UnLike", unlike_message_path(message), method: :put  %>
          
              <span class="badge"><%= message.get_downvotes.size %></span>
          </button>
          <%# end %>
      </div>
    <% end %>
  </div>
  <div id="urgent" class="tab-pane fade">
    <% @messages.reverse.each do |message| %>
      <% if message.category == "Urgent" %>
      <div class="entry text-left">
        <h3><%= link_to message.title,message_path(message) %></h3>
        <p><%= sanitize(message.content) %></p>
        <p>Posted by: <%= (User.find_by(id: message.user_id)).email %></p>
        <%= link_to "Like", like_message_path(message), method: :put  %>
          
              <span class="badge"><%= message.get_upvotes.size %></span>

          <%= link_to "UnLike", unlike_message_path(message), method: :put  %>
          
              <span class="badge"><%= message.get_downvotes.size %></span>
          </button>
       
      </div>
      <% end %>
    <% end %>
  </div>
  <div id="news" class="tab-pane fade">
    <% @messages.reverse.each do |message| %>
      <% if message.category == "News" %>
      <div class="entry text-left">
        <h3><%= link_to message.title,message_path(message) %></h3>
        <p><%= sanitize(message.content) %></p>
        <p>Posted by: <%= (User.find_by(id: message.user_id)).email %></p>
        <%= link_to "Like", like_message_path(message), method: :put  %>
          
              <span class="badge"><%= message.get_upvotes.size %></span>

          <%= link_to "UnLike", unlike_message_path(message), method: :put  %>
          
              <span class="badge"><%= message.get_downvotes.size %></span>
          </button>
        
      </div>
      <% end %>
    <% end %>
  </div>
  <div id="job" class="tab-pane fade">
    <% @messages.reverse.each do |message| %>
      <% if message.category == "Job" %>
      <div class="entry text-left">
        <h3><%= link_to message.title,message_path(message) %></h3>
        <p><%= sanitize(message.content) %></p>
        <p>Posted by: <%= (User.find_by(id: message.user_id)).email %></p>
        <%= link_to "Like", like_message_path(message), method: :put  %>
          
              <span class="badge"><%= message.get_upvotes.size %></span>

          <%= link_to "UnLike", unlike_message_path(message), method: :put  %>
          
              <span class="badge"><%= message.get_downvotes.size %></span>
          </button>
        
      </div>
      <% end %>
    <% end %>
  </div>
  <div id="event" class="tab-pane fade">
    <% @messages.reverse.each do |message| %>
      <% if message.category == "Event" %>
      <div class="entry text-left">
        <h3><%= link_to message.title,message_path(message) %></h3>
        <p><%= sanitize(message.content) %></p>
        <p>Posted by: <%= (User.find_by(id: message.user_id)).email %></p>
        <%= link_to "Like", like_message_path(message), method: :put  %>
          
              <span class="badge"><%= message.get_upvotes.size %></span>

          <%= link_to "UnLike", unlike_message_path(message), method: :put  %>
          
              <span class="badge"><%= message.get_downvotes.size %></span>
          </button>
        
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<% if current_user.role != "Business" %>
<p>
  <%= button_to('Post New Message', new_message_path, :method => :get, class: "btn btn-small btn-default") %>
</p>
<% end %>