<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<h1>Message Board</h1>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#userMessages">Your Public Messages</a></li>
  <li><a data-toggle="tab" href="#inbox">Inbox</a></li>
  <li><a data-toggle="tab" href="#bookmarks">Bookmarks</a></li>
</ul>
<div class="tab-content">
  <div id="userMessages" class="tab-pane fade in active">
    <% @userMessages.each do |message| %>
      <div class="entry text-left">
        <h3><u><%= message.title %></u></h3>
        <p><%= sanitize(message.content) %></p>
        <p>Posted by: <%= (User.find_by(id: message.user_id)).email %></p>
        <%= link_to "view Message", message_path(message), class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
  <div id="inbox" class="tab-pane fade">
    <% @inbox.each do |message| %>
      <div class="entry text-left">
        <h3><u>From: <%= (User.find_by(id: message.user_id)).email %></u></h3>
        <p><%= sanitize(message.content) %></p>
      </div>
    <% end %>
  </div>
  <div id="bookmarks" class="tab-pane fade">
    <p>Not implemented yet!</p>
  </div>
</div>
<p>
  <%= button_to('Send Private Message', new_private_message_path, :method => :get, class: "btn btn-small btn-success") %>
</p>