<p id="notice"><%= notice %></p>

<p>
  <strong>To:</strong>
  <%= @private_message.to %>
</p>

<p>
  <strong>Content:</strong>
  <%= @private_message.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @private_message.user %>
</p>

<%= link_to 'Edit', edit_private_message_path(@private_message) %> |
<%= link_to 'Back', private_messages_path %>
