<!DOCTYPE html>
<html>
<head>
  <title>Friends Next Door</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<style>
.jumbotron { 
    background-color: #5bc0de;
    color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>
<style>
.col-sm-3 { 
    background-color: #2190d4;
    color: #000000; 
}
</style>
<style>
.row { 
    height: 100%;
    width: 100%;
}
</style>
<style>
.tab-content { 
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>
<style>
.well { 
  
    background-color: #ffffb3;
    color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>
<body class='<%= controller.controller_name %>'>
  <div class="jumbotron text-center">
    <h1>Friends Next Door</h1> 
    <p>Connecting you with people you already live close to!</p> 
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
  </div>
  
  
  <div class="row">
    <div class="col-sm-3 text-center">
      Lefty
      <% if user_signed_in? %>
        <p>
          <%= link_to "Home", home_path, class:"btn btn-primary"%>
          <%= button_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-small btn-success box-shadow") %>        
        </p>
      <% end %>
      
  
       
      
    </div>
    <div class="col-sm-6 text-center box-shadow">
      <div class="well">
      <%= yield %>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      Righty
      <% if user_signed_in? %>
      <p>
       <%= button_to('Groups', new_message_path, :method => :get, class: "btn btn-small btn-success") %>
       <% end %>
       </p>
    </div>
  </div>
  

</body>
</html>
